/* :root {
  --font: "Quicksand", sans-serif;
  --main-red: #5b091c;
  --title-color: #890e2a;
  --secondary-red: #b71338;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */

.single__post {
  min-height: 600px;
  max-width: 1100px;
  margin: 0 auto;
  border-radius: 8px;
}

.single__post--heading {
  font-size: clamp(1.5rem, 3vw, 2rem);
  font-weight: 800;
  color: var(--title-color);
  margin: 1rem 0;
}

.single__post--thumbnail {
  border-radius: 0.3rem;
}

.single__post--contents p {
  color: #000;
  font-size: clamp(1rem, 3vw, 1.1rem);
  line-height: 1.5;
  font-weight: 500;
}

.single__post--contents h2 {
  color: var(--main-red);
  font-weight: 600;
  font-size: clamp(1.6rem, 3vw, 2rem);
  margin: 0.3rem 0;
}

.single__post--contents blockquote {
  /* border-left: 4px solid var(--main-red); */
  /* border-top-left-radius: 8px;
  border-bottom-left-radius: 8px; */
  border-radius: 6px;
  padding: 1rem;
  background-color: #f2dede;
  max-width: 80%;
  font-weight: 600;
  margin: 1rem auto;
  overflow: hidden;
}

.single__post--contents blockquote::before {
  content: "\f10d";
  font-size: 110px;
  font-family: "FontAwesome";
  content: "\f10d";
  font-size: 35px;
  font-weight: 900;
  color: var(--main-red);
  z-index: 1;
  position: relative;
  top: -22px;
  right: 0;
  left: -15px;
  line-height: 1;
}

.single__post--contents a:any-link {
  color: var(--main-red);
  font-weight: 700;
  text-decoration: underline;
  text-decoration-style: dotted;
  text-underline-offset: 5px;
  text-decoration-thickness: 4px;
}

.single__post--contents a:hover {
  text-decoration: none;
}

.single__post--contents li::marker {
  list-style-type: disc;
  padding: 4px;
  border: 1px solid var(--main-red);
  color: var(--main-red);
  border-radius: 4px;
}

.single__post--meta {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-start;
  align-items: center;
  font-size: clamp(10px, 3vw, 12px);
  font-weight: 700;
  border-bottom: 2px dashed var(--main-red);
  margin-bottom: 1rem;
}

.single__post--tags a {
  color: var(--main-red);
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid var(--title-color);
  border-radius: 0.2rem;
  padding: 0.2rem 0.4rem;
  transition: all 0.3s ease-in;
}

.single__post--tags a:hover {
  background-color: var(--main-red);
  color: whitesmoke;
}

.single__post--cat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  align-items: center;
  padding: 0.5rem 1rem;
  min-height: 50px;
  background-color: var(--main-red);
  margin: 1rem 0;
  max-width: 100%;
}

@media screen and (min-width: 800px) {
  .single__post--cat {
    max-width: 80%;
    margin: 1rem auto;
  }
  .single__post--catList {
    max-width: 80%;
    margin: 0 auto;
  }
}

.single__post--catList::-webkit-scrollbar {
  scrollbar-width: 4px;
  scrollbar-color: var(--main-red);
  width: 10%;
  height: 10px;
}

.single__post--catList::-webkit-scrollbar-track {
  background: whitesmoke;
  height: 20px;
  width: 10%;
}

.single__post--catList::-webkit-scrollbar-thumb {
  background-color: var(--main-red);
  border-radius: 20px;
}
.single__post--catList a {
  border: 1px solid var(--title-color);
  text-decoration: none;
  padding: 2px 4px;
  color: var(--main-red);
  font-weight: 600;
  text-transform: uppercase;
  background-color: whitesmoke;
}

.single__post-recent {
  border-top: 1px solid var(--title-color);
  border-bottom: 1px solid var(--title-color);
  padding: 2.5rem 0;
  margin: 2rem 0;
}

.single__post-recent h3 {
  background-color: var(--main-red);
  color: whitesmoke;
  padding: 4px 8px;
  text-transform: uppercase;
  font-size: clamp(1rem, 3vw, 1.5rem);
}

.carousel-item img {
  z-index: 1;
  height: 300px;
  width: 350px;
  object-fit: cover;
  margin-bottom: -60px;
  /* opacity: 0.6; */
  backface-visibility: visible;
}
.carousel-itemTitle {
  /* margin-top: -50px; */
  font-weight: 600;
  z-index: 10;
  background-color: var(--main-red);
  font-size: clamp(1.1rem, 3vw, 1.5rem);
  color: aliceblue;
  padding: 1.5rem 0;
  position: relative;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-image: none !important;
}

.see-more-posts {
  float: right;
}

.see-more-posts a,
.back-to-home a {
  color: var(--main-red);
  text-decoration: none;
  font-weight: 900;
}

.see-more-posts a:hover .fa-arrow-right,
.back-to-home a:hover .fa-arrow-right {
  transform: rotate(180deg);
  transition: all ease-in 0.3s;
}

.comment-container {
  min-height: 500px;
}

.comment-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.3rem;
}

.comment-head a {
  text-decoration: none;
  background-color: var(--main-red);
  color: whitesmoke;
  font-weight: 700;
  text-transform: uppercase;
  font-size: clamp(0.8rem, 3vw, 1.5rem);
  padding: 0.3rem 0.6rem;
  align-self: center;
}

.comment-disclaimer {
  background-color: #f2dede;
  min-height: 90px;
  padding: 1rem 2rem;
  color: var(--main-red);
  font-size: clamp(0.6rem, 3vw, 1.2rem);
  font-weight: 700;
  border-radius: 6px;
}
